<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821225767067-068l426u9a28n27in0epdc7ie33bu879.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821225767067-068l426u9a28n27in0epdc7ie33bu879</string>
	<key>API_KEY</key>
	<string>AIzaSyDF3bvwl58lYnZmMVBuh5X0nmY7cUJBRhc</string>
	<key>GCM_SENDER_ID</key>
	<string>821225767067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beatbox.app</string>
	<key>PROJECT_ID</key>
	<string>beatbox-eb2b7</string>
	<key>STORAGE_BUCKET</key>
	<string>beatbox-eb2b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:821225767067:ios:1f9ce0617b989d13fac63e</string>
	<key>DATABASE_URL</key>
	<string>https://beatbox-eb2b7-default-rtdb.firebaseio.com</string>
</dict>
</plist>
